body{

margin:0;

font-family:Segoe UI;

background:#f7f4ea;

}



.container{

padding:30px;

}



h1{

color:#173622;

}



.toolbar{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}



input{

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}



button{

background:#e3a23d;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}



table{

width:100%;

background:white;

border-radius:15px;

overflow:hidden;

}



th{

background:#173622;

color:white;

padding:15px;

}



td{

padding:15px;

border-bottom:1px solid #ddd;

}



.modal{

display:none;

position:fixed;

top:0;

left:0;

right:0;

bottom:0;

background:#0007;

}



.form{

background:white;

width:350px;

padding:30px;

border-radius:20px;

margin:100px auto;

display:grid;

gap:15px;

}